<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css' />
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
  <div id="sidebar">
    <div>
      <form action="/schedule/" method="GET">
        <div class="row">
          <div class="twelve columns">
            <input type="text" name="cc" id="cc" placeholder="Course Code...">
            <input type="submit" value="Search" class="button-primary">
          </div>
          <div class="row">
            <div class="twelve columns">
              <label for="op">
                <input type="checkbox" name="op" id="op" checked>
                <span class="label-body">Open Sections</span>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="twelve columns">
              <label for="cl">
                <input type="checkbox" name="cl" id="cl" checked>
                <span class="label-body">Closed Sections</span>
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div>
      <h3>Settings</h3>
    </div>
  </div>
</body>

</html>