#sidebar {
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  border-right: 1px solid #aaa;

  form {
    display: flex;
    input {
      border-radius: 0;
      height: auto;
      padding: 10px;
      line-height: normal;
      
      &[type=text] {
        border-right: 0;
      }
    }
  }
}